<footer class="app-footer mat-mdc-elevated-surface">
  <div class="footer-top">
    <div class="company-info">
      <img src="assets/images/logoAzienda300.png" alt="InformaticAssistance" class="logo">
      <p class="company-details">
        <strong>Informatic Assistance S.a.S.</strong><br />
        Via Etnea , 276 - 95030 Gravina di Catania<br />
        P.iva: 03188460871<br />
        Cod.Unico: TRS3OH9
      </p>
    </div>

    <section class="contact-us">
      <h3><strong>Contattaci</strong></h3>
      <p>Hai domande? Non esitare a contattarci!</p>
      <p><mat-icon>email</mat-icon> Email: <strong>informaticassistance&#64;tiscali.it</strong></p>
      <p><mat-icon>phone</mat-icon> Telefono:  <strong>+39 095 512329</strong></p>
    </section>
  </div>
  <div class="copyright">
    <p>&copy; {{ currentYear }} Informatic Assistance S.a.S. Tutti i diritti riservati.</p>
  </div>
</footer>
