<div class="pagina-gioiellerie-container">
  <table style="WIDTH: 811px; HEIGHT: 81px" border="0" cellspacing="0" cellpadding="5" width="811" cols="1">
    <tbody>
      <tr>
        <td>
          <p align="center">
            <strong>Il sistema informatizzato</strong> <strong>per la gestione di</strong>
          </p>
          <p align="center">
            <strong>"<font size="5">GI</font>oielleria"</strong>
          </p>
          <p align="center">
            <strong>"<font size="5">A</font>rticoli da regalo"</strong>
          </p>
          <p align="center">
            <strong>"Liste <font size="5">NO</font>zze"</strong>
          </p>
          <p align="center">
            &nbsp;
          </p>
          <p align="center"></p>
          <p align="center"></p>
          <p align="center"></p>
          <hr />
        </td>
      </tr>
      <tr>
        <td>
          <div align="justify">
            <div style="PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; FLOAT: left; PADDING-TOP: 0px">
              <img border="0" src="assets/images/prodotti/thumb_Giano.jpg" width="171" height="255" />
            </div>
          </div>
          <p align="justify">
            Una delle soluzioni realizzate <b>&#8220;GIANO&#8221;</b> permette di risolvere le problematiche gestionali di un magazzino che tratta articoli da regalo, che gestisce liste di nozze, che commercializza preziosi, articoli di oreficeria e/o articoli di argenteria.
          </p>
          <p align="justify">
            &nbsp;
          </p>
          <p align="justify"></p>
          <p align="center">
            <b>MODULI PRINCIPALI</b>
          </p>
          <p>
            <b><i>- Archivi di base</i></b>
          </p>
          <p>
            Il programma oltre che gestire pi&#249; punti vendita, permette di gestire innumerevoli reparti e tipologie organizzate su due livelli, quindi in fase di analisi del magazzino si avr&#224; la possibilit&#224; di parzializzare per macro-tipologia per es. &#8220;<i>Servizi ceramica</i>&#8221; o per sottotipologia per es. &#8220;<i>Servizi ceramica 41 Pz</i>&#8221;.
          </p>
          <p>
            <b><i>- Fornitori</i></b>
          </p>
          <p>
            Si ha la possibilit&#224; di inserire tutte le informazioni relative al fornitore necessarie sia per la gestione amministrativa che commerciale.
          </p>
          <p>
            <b><i>- Clienti</i></b>
          </p>
          <p align="justify">
            Il cliente pu&#242; essere gestito come <i>cliente generico</i>, inserendo le informazioni anagrafiche per mailing, storico delle vendite, ecc., oppure come cliente <i>lista nozze</i> per il quale &#232; possibile inserire tutte le informazioni utili alla gestione completa della lista ed agli acquisti collegati.
          </p>
          <p>
            <b><i>- Articoli</i></b>
          </p>
          <p align="justify">
            La gestione degli articoli permette, oltre l&#8217;inserimento anagrafico, l&#8217;inserimento dell&#8217;immagine tramite scanner, tramite telecamera o tramite fotocamera digitale.
          </p>
          <p>
            <b><i>- Pervenimenti/Trasferimenti Merce</i></b>
          </p>
          <p align="justify">
            Il programma permette la registrazione del pervenimento o del trasferimento dell&#8217;articolo ad altro punto vendita attribuendo ad ognuno di essi i riferimenti del documento di accompagnamento con i relativi costi di acquisto e prezzi di vendita.
          </p>
          <p>
            <b><i>- Contabilit&#224; e Prima Nota</i></b>
          </p>
          <p align="justify">
            Oltre alla gestione del magazzino il programma si occupa anche della Contabilit&#224; Fornitori (con relativo scadenzario), Contabilit&#224; Clienti e Prima Nota.
          </p>
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </tbody>
  </table>
  </div>
