<div class="prodotto-layout">

  <mat-card class="prodotto-header">
    <div class="prodotto-header-content">
      <div class="prodotto-img">
        <img src="assets/images/prodotti/thumb_Giano.jpg" alt="Giano">
      </div>
      <div class="prodotto-title">
        <h2>
          Il sistema <span class="highlight">informatizzato</span><br />
          per la gestione di<br />
          <strong>Gioielleria</strong>,<br />
          <strong>Articoli da regalo</strong>,<br />
          <strong>Liste Nozze</strong>
        </h2>
      </div>
    </div>
  </mat-card>

  <mat-card class="prodotto-section">
    <p>Una delle soluzioni realizzate <strong>"GIANO"</strong> permette di risolvere le problematiche gestionali di un magazzino che tratta articoli da regalo, che gestisce liste di nozze, che commercializza preziosi, articoli di oreficeria e/o articoli di argenteria.</p>
  </mat-card>

  <mat-card class="prodotto-section">
    <h3>Moduli Principali</h3>
    <div class="prodotto-sub-section">
      <h5>Archivi di base</h5>
      <p>Il programma oltre che gestire più punti vendita, permette di gestire innumerevoli reparti e tipologie organizzate su due livelli, quindi in fase di analisi del magazzino si avrà la possibilità di parzializzare per macro-tipologia per es. "<i>Servizi ceramica</i>" o per sottotipologia per es. "<i>Servizi ceramica 41 Pz</i>".</p>

      <h5>Fornitori</h5>
      <p>Si ha la possibilità di inserire tutte le informazioni relative al fornitore necessarie sia per la gestione amministrativa che commerciale.</p>

      <h5>Clienti</h5>
      <p>Il cliente può essere gestito come <i>cliente generico</i>, inserendo le informazioni anagrafiche per mailing, storico delle vendite, ecc., oppure come cliente <i>lista nozze</i> per il quale è possibile inserire tutte le informazioni utili alla gestione completa della lista ed agli acquisti collegati.</p>

      <h5>Articoli</h5>
      <p>La gestione degli articoli permette, oltre l'inserimento anagrafico, l'inserimento dell'immagine tramite scanner, tramite telecamera o tramite fotocamera digitale.</p>

      <h5>Pervenimenti/Trasferimenti Merce</h5>
      <p>Il programma permette la registrazione del pervenimento o del trasferimento dell'articolo ad altro punto vendita attribuendo ad ognuno di essi i riferimenti del documento di accompagnamento con i relativi costi di acquisto e prezzi di vendita.</p>

      <h5>Contabilità e Prima Nota</h5>
      <p>Oltre alla gestione del magazzino il programma si occupa anche della Contabilità Fornitori (con relativo scadenzario), Contabilità Clienti e Prima Nota.</p>
    </div>
  </mat-card>

</div>
