<div class="pagina-chisiamo-container">
  <table style="WIDTH: 811px; HEIGHT: 56px" border="0" cellspacing="0" cellpadding="5" width="555" cols="1">
    <tbody>
      <tr>
        <td width="49%">
            <img border="0" src="assets/images/thumb_ChiSiamo.jpg" width="315" height="236" />

        </td>
        <td>
          &nbsp;
        </td>
        <td valign="top" width="49%">
          <hr />
          <table border="0" width="100%">
            <tbody>
              <tr>
                <td>
                  <p align="justify">
                    <strong>Informatic Assistance</strong>,&nbsp;azienda di informatica nata intorno alla met&#224; degli anni ottanta, ha maturato esperienze sia nel mondo dei Personal Computers (monoutenza o in rete) che dei mini sistemi.
                  </p>
                  <p align="justify">
                    Ci occupiamo principalmente di produzione software, ma anche di configurazione ed installazione reti, fornitura servizi, commercializzazione hardware.
                  </p>
                  <p align="justify">
                    In questi anni abbiamo lavorato affrontando dei settori cos&#236; detti "<em>verticali</em>",&nbsp;acquisendo notevole professionalit&#224; nelle specifiche problematiche.
                  </p>
                  <p align="justify">
                    Le nostre soluzioni sono state tutte scritte utilizzando strumenti di sviluppo <em>Object Oriented</em> di ultima generazione, ci&#242; fa si che esse, oltre all'estrema facilit&#224; d'uso legata all'ambiente visuale, siano in grado di applicare la logica a oggetti alla tecnologia client-server.&nbsp;
                  </p>
                  <p align="justify"></p>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          &nbsp;
        </td>
      </tr>
    </tbody>
  </table>
</div>
