<div class="page-layout">
  <mat-card class="chisiamo-card">
    <div class="chisiamo-image">
      <img src="assets/images/thumb_ChiSiamo.jpg" alt="Chi Siamo - Informatic Assistance">
    </div>
    <div class="chisiamo-content">
      <hr />
      <h3>Chi Siamo</h3>
      <p align="justify">
        <strong>Informatic Assistance</strong>, azienda di informatica nata intorno alla metà degli anni ottanta, ha maturato esperienze sia nel mondo dei Personal Computers (monoutenza o in rete) che dei mini sistemi.
      </p>
      <p align="justify">
        Ci occupiamo principalmente di produzione software, ma anche di configurazione ed installazione reti, fornitura servizi e commercializzazione hardware.
      </p>
      <p align="justify">
        In questi anni abbiamo lavorato affrontando settori cosiddetti "<em>verticali</em>", acquisendo notevole professionalità nelle specifiche problematiche.
      </p>
      <p align="justify">
        Le nostre soluzioni sono state tutte scritte utilizzando strumenti di sviluppo <em>Object Oriented</em> di ultima generazione. Ciò fa sì che esse, oltre all'estrema facilità d'uso legata all'ambiente visuale, siano in grado di applicare la logica a oggetti alla tecnologia client-server.
      </p>
    </div>
  </mat-card>
</div>
