<div class="pagina-legnami-container">
  <table style="WIDTH: 811px; HEIGHT: 56px" border="0" cellspacing="0" cellpadding="5" width="811" cols="1">
    <tbody>
      <tr>
        <td>
          <p align="center">
            <strong>Il sistema informatizzato</strong>
          </p>
          <p align="center">
            <strong>per la gestione dei</strong>
          </p>
          <p align="center">
            <strong>"Grossisti di Legname"</strong>
          </p>
          <p align="center">
            &nbsp;
          </p>
          <p align="center"></p>
          <p align="center"></p>
          <hr />
        </td>
      </tr>
      <tr>
        <td>
          <table style="WIDTH: 799px; HEIGHT: 267px" border="0" cellspacing="0" cellpadding="5" width="799" cols="2">
            <tbody>
              <tr>
                <td valign="top">
                  <img border="0" src="assets/images/prodotti/thumb_INFOLEGNO.jpg" width="171" height="255" />
                </td>
                <td>
                  <p align="justify">
                    La nostra esperienza nel settore &#8220;Legnami&#8221; ci ha permesso di informatizzare importanti realt&#224; che operano anche al di fuori di quello che &#232; il nostro ambito territoriale e regionale. Abbiamo realizzato un pacchetto applicativo, <b>&#8220;Info Legno&#8221;,</b> utile a gestire in tutti i suoi aspetti l&#8217;attivit&#224; commerciale: dall'ordine della merce alla relativa vendita ed all'inventario di fine anno, con molta attenzione alle statistiche di andamento.
                  </p>
                  <p align="justify">
                    &nbsp;
                  </p>
                  <p align="justify"></p>
                  <p align="justify"></p>
                  <p align="justify"></p>
                  <p align="justify"></p>
                  <p align="justify">
                    <b>MODULI DELLA PROCEDURA</b>
                  </p>
                  <p align="justify"></p>
                  <p>
                    <b>Modulo Magazzino</b>
                  </p>
                  <ul>
                    <li>
                      Gestione Archivi di base
                    </li>
                    <li>
                      Gestione Clienti
                    </li>
                    <li>
                      Gestione articoli suddivisi per dimensioni (Spessore-Larghezza-Altezza)
                    </li>
                    <li>
                      Gestione colli e cataste
                    </li>
                    <li>
                      Gestione listini clienti
                    </li>
                    <li>
                      Pervenimento merce
                    </li>
                    <li>
                      Emissione documenti di vendita per (Spessore-Larghezza-Altezza)
                    </li>
                    <li>
                      Statistiche di magazzino
                    </li>
                    <li>
                      Stampe provvigioni agenti, venduto per cliente, venduto per zona
                    </li>
                    <li>
                      Inventario di magazzino
                    </li>
                  </ul><b>Modulo Contabilit&#224;</b>
                  <ul>
                    <li>
                      Gestione piano dei conti
                    </li>
                    <li>
                      Gestione movimenti Iva e Prima Nota
                    </li>
                    <li>
                      Gestione Estratti Conto Clienti e Fornitori (per data, per partita,&#8230;)
                    </li>
                    <li>
                      Gestione scadenzario Clienti e Fornitori
                    </li>
                    <li>
                      Stampe fiscali (Giornale generale, Registri Iva, Liquidazione IVA,&#8230;.)
                    </li>
                    <li>
                      Chiusura esercizio fine anno
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
