<div class="prodotto-layout">

  <mat-card class="prodotto-header">
    <div class="prodotto-header-content">
      <div class="prodotto-img">
        <img src="assets/images/prodotti/thumb_INFOLEGNO.jpg" alt="Info Legno">
      </div>
      <div class="prodotto-title">
        <h2>
          Il sistema <span class="highlight">informatizzato</span><br />
          per la gestione dei<br />
          <strong>Grossisti di Legname</strong>
        </h2>
      </div>
    </div>
  </mat-card>

  <mat-card class="prodotto-section">
    <p>La nostra esperienza nel settore “Legnami” ci ha permesso di informatizzare importanti realtà che operano anche al di fuori di quello che è il nostro ambito territoriale e regionale. Abbiamo realizzato un pacchetto applicativo, <strong>“Info Legno”</strong>, utile a gestire in tutti i suoi aspetti l’attività commerciale: dall'ordine della merce alla relativa vendita ed all'inventario di fine anno, con molta attenzione alle statistiche di andamento.</p>
  </mat-card>

  <mat-card class="prodotto-section">
    <h3>Moduli della Procedura</h3>
    <div class="prodotto-sub-section">
      <h5>Modulo Magazzino</h5>
      <ul>
        <li>Gestione Archivi di base</li>
        <li>Gestione Clienti</li>
        <li>Gestione articoli suddivisi per dimensioni (Spessore-Larghezza-Altezza)</li>
        <li>Gestione colli e cataste</li>
        <li>Gestione listini clienti</li>
        <li>Pervenimento merce</li>
        <li>Emissione documenti di vendita per (Spessore-Larghezza-Altezza)</li>
        <li>Statistiche di magazzino</li>
        <li>Stampe provvigioni agenti, venduto per cliente, venduto per zona</li>
        <li>Inventario di magazzino</li>
      </ul>

      <h5>Modulo Contabilità</h5>
      <ul>
        <li>Gestione piano dei conti</li>
        <li>Gestione movimenti Iva e Prima Nota</li>
        <li>Gestione Estratti Conto Clienti e Fornitori (per data, per partita,…)</li>
        <li>Gestione scadenzario Clienti e Fornitori</li>
        <li>Stampe fiscali (Giornale generale, Registri Iva, Liquidazione IVA,….)</li>
        <li>Chiusura esercizio fine anno</li>
      </ul>
    </div>
  </mat-card>

</div>
