<div class="prodotto-layout">

  <mat-card class="prodotto-header">
    <div class="prodotto-header-content">
      <div class="prodotto-img">
        <img src="assets/images/prodotti/thumb_TaglieColori.jpg" alt="Taglie & Colori">
      </div>
      <div class="prodotto-title">
        <h2>
          Il sistema <span class="highlight">informatizzato</span><br />
          per la gestione dei<br />
          <strong>Negozi di Abbigliamento</strong>
        </h2>
      </div>
    </div>
  </mat-card>

  <mat-card class="prodotto-section">
    <p>Il pacchetto applicativo "<strong>Taglie & Colori</strong>" è nato per gestire tutti gli aspetti del negozio di abbigliamento: ordine della merce, vendita, inventario, statistiche di andamento. Le varie procedure gestiscono in tempo reale tutte le attività e permettono di stampare, anche mediante una comune stampante, delle etichette che potranno essere lette da un qualunque lettore di codici a barre.</p>
  </mat-card>

  <mat-card class="prodotto-section">
    <h3>Caratteristiche Generali</h3>
    <p><strong>"Taglie & Colori"</strong> è stato sviluppato appositamente per risolvere le problematiche dei prodotti che hanno, principalmente, le sottoelencate caratteristiche:</p>
    <ul>
      <li>Periodicità dell'ordine di acquisto</li>
      <li>Stagionalità (prevalente) del prodotto</li>
      <li>Caratteristica composizione e/o colori</li>
      <li>Taglie e misure</li>
      <li>Vendita su più negozi e reparti</li>
      <li>Multi-società</li>
    </ul>
    <p><strong>"Taglie & Colori"</strong> è quindi rivolto ai negozi ed alle organizzazioni di vendita e viene proposto sia in versione orientata al dettaglio che in versione ingrosso.</p>
    <p><strong>"Taglie & Colori"</strong> adotta un originale sistema di codifica, particolarmente adatto per gestire la complessa problematica della classificazione del prodotto, favorendo nel contempo la velocità di rilevazione. Se lo si rende necessario è possibile utilizzare il codice articolo del fornitore quale codice di vendita, consentendo quindi di non dover etichettare nuovamente la merce.</p>
  </mat-card>

  <mat-card class="prodotto-section">
    <h3>Principali Moduli</h3>
    <div class="prodotto-sub-section">
      <h5>Ordini Fornitori</h5>
      <p>Il modulo permette l’immissione degli ordini suddividendoli per anno e stagione di appartenenza. Gli ordini immessi, anche se totalmente evasi, potranno rimanere disponibili per interrogazioni, stampe e statistiche. In fase di inserimento ordine se non esiste l’anagrafica dell’articolo sarà possibile registrarla facilmente e sarà possibile legare alla sua scheda anche un’immagine fotografica. L’immissione degli ordini determinerà già alcune stampe di statistica che serviranno per la valutazione degli ordini nel suo complesso e per una immediata valutazione di eventuali integrazioni o ridimensionamenti.</p>

      <h5>Pervenimento merce</h5>
      <p>È possibile gestire pervenimenti merce legati o meno ad ordini programmati che potranno essere evasi totalmente o parzialmente. Il pervenimento determinerà la stampa di etichette Barr-Code e darà l’immediata possibilità di poter gestire la vendita o il trasferimento merce ad altro magazzino.</p>

      <h5>Trasferimenti merce</h5>
      <p>Il modulo di trasferimento permette l’immissione dei codici articoli tramite tastiera o tramite l’utilizzo di lettori Barr-Code fissi o con memoria. Il trasferimento merce potrà determinare una semplice nota riepilogativa di trasferimento o un DDT. Il trasferimento merce può essere effettuato anche tra magazzini di società diverse. La registrazione permette di aggiornare in tempo reale il magazzino.</p>

      <h5>Fatturazione tra società</h5>
      <p>La merce trasferita da una società ad un’altra permetterà di determinare automaticamente una fattura di vendita che potrà essere determinata con qualunque prezzo di vendita necessiti (al costo oppure al costo più una percentuale di ricarico oppure a prezzo di vendita meno una percentuale di sconto, ………)</p>

      <h5>Vendita</h5>
      <p>La procedura di vendita permette una gestione per punti vendita. I punti di vendita remoti saranno collegati al server tramite un collegamento Internet in ADSL. La vendita potrà essere attribuita a cliente ed il cliente potrà essere identificato anche tramite l’utilizzo della FIDELITY CARD. Ad ogni cliente, se lo si desidera, potrà essere attribuito uno sconto fisso o uno sconto in funzione del valore acquistato nel periodo, o…. Le vendite registrate aggiorneranno in tempo reale la giacenza e le statistiche. Qualunque altro punto vendita, se abilitato, potrà immediatamente vedere la movimentazione effettuata. Agli articoli potrà essere associata una promozione che avrà una data di inizio ed una data di fine. La promozione potrà essere o con un prezzo finito o con una % di sconto sul prezzo di listino. Questo tipo di gestione permette di non demandare nulla ai commessi ma stabilire in amministrazione qualunque strategia di vendita.</p>

      <h5>Statistiche</h5>
      <p>La procedura permette di ottenere statistiche sui dati derivanti dalla gestione del magazzino e delle vendite. Le statistiche si basano sull’impostazione di criteri di selezione che l’utente può liberamente comporre e che indicano alla procedura le modalità di selezione dei dati presenti nell’archivio. Qualunque statistica potrà essere elaborata considerando un magazzino o tutti oppure tutti i magazzini di una società.</p>

      <h5>Inventario</h5>
      <p>Permette di effettuare, manualmente o con l’ausilio di un lettore Barr-Code fisso o con memoria, la conta della merce esistente a magazzino, raffrontarla automaticamente alla merce inserita nel sistema informativo e stampare le discordanze esistenti sia in valore che in quantità. Sarà possibile, alla fine della verifica, effettuare una sistemazione automatica prendendo per buono il dato inventariato.</p>

      <h5>Contabilità</h5>
      <p>Sarà possibile gestire una contabilità interna, intesa come contabilità clienti (con gestione del portafoglio clienti), una contabilità fornitori (con gestione dello scadenzario fatture) ed una tradizionale prima nota.</p>
      <p>Sarà quindi possibile gestire:</p>
      <ul>
        <li>Estratto conto clienti / fornitori</li>
        <li>Riepilogo saldi clienti / fornitori</li>
        <li>Lettere insoluti clienti</li>
        <li>Scadenzario fornitori</li>
      </ul>
    </div>
  </mat-card>

  <mat-card class="prodotto-section">
    <h3>Moduli Aggiuntivi</h3>
    <p><strong>"Taglie & Colori"</strong> è un software realizzato a moduli e tutti possono essere integrati al modulo base. Alcuni dei moduli aggiuntivi:</p>
    <ul>
      <li>Gestione SMS</li>
      <li>Gestione EMail</li>
      <li>Gestione Ordini Clienti</li>
      <li>Gestione Distribuzione Merce</li>
      <li>Interfacciamento a registratori di cassa</li>
      <li>Invio dati vendite su Server Web</li>
      <li>altro</li>
    </ul>
  </mat-card>

</div>
