<div class="prodotto-layout">

  <mat-card class="prodotto-header">
    <div class="prodotto-header-content">
      <div class="prodotto-img">
        <img border="0" src="assets/images/prodotti/thumb_surgelati.jpg" alt="Grossisti di Surgelati">
      </div>
      <div class="prodotto-title">
        <h2>
          Il sistema <span class="highlight">informatizzato</span><br />
          per la gestione dei<br />
          <strong>Grossisti di Surgelati</strong>
        </h2>
      </div>
    </div>
  </mat-card>

  <mat-card class="prodotto-section">
    <p>Il prodotto che proponiamo per le attività che si occupano di commercializzazione all’ingrosso di <em>surgelati</em> si differisce dal semplice software di gestione magazzino per una serie di moduli orientati “al cliente” che di seguito andremo ad elencare. Come in tutti i nostri prodotti, anche in questo caso, sono stati utilizzati strumenti <em>Object Oriented</em> di ultima generazione per permettere estrema facilità d’uso, ambiente visuale e immediatezza nell’applicazione della tecnologia client/server. Di seguito una rapida panoramica dei moduli principali.</p>
  </mat-card>

  <mat-card class="prodotto-section">
    <h3>Moduli della Procedura</h3>
    <div class="prodotto-sub-section">
      <ul>
        <li>Gestione tipologie merceologiche (fino a due livelli)</li>
        <li>Gestione articoli</li>
        <li>Gestione movimenti (Carico, scarico, trasferimenti)</li>
        <li>Possibilità di effettuare un pre-ordine direttamente dal cliente con pc portatile</li>
        <li>Gestione degli ordini relativa stampa di bolla di carico e conversione in fattura</li>
        <li>Gestione promozionali e sconti clienti</li>
        <li>Gestione premi clienti</li>
        <li>Gestione provvigioni per gli agenti</li>
        <li>Contabilità Clienti e Fornitori</li>
        <li>Inventario</li>
      </ul>
    </div>
  </mat-card>

</div>
