<div class="pagina-surgelati-container">
  <table style="WIDTH: 811px; HEIGHT: 56px" border="0" cellspacing="0" cellpadding="5" width="555" cols="1">
    <tbody>
      <tr>
        <td>
          <p align="center">
            <strong>Il sistema informatizzato</strong>
          </p>
          <p align="center">
            <strong>per la gestione dei</strong>
          </p>
          <p align="center">
            <strong>"Grossisti di Surgelati"</strong>
          </p>
          <p align="center">
            &nbsp;
          </p>
          <p align="center"></p>
          <hr />
        </td>
      </tr>
      <tr>
        <td>
          <table style="WIDTH: 799px; HEIGHT: 736px" border="0" cellspacing="0" cellpadding="5" width="799" cols="2">
            <tbody>
              <tr>
                <td valign="top">
                  &nbsp;<img border="0" src="assets/images/prodotti/thumb_surgelati.jpg" width="170" height="255" />
                </td>
                <td valign="top">
                  <p align="justify">
                    Il prodotto che proponiamo per le attivit&#224; che si occupano di commercializzazione all&#8217;ingrosso di <em>surgelati</em> si differisce dal semplice software di gestione magazzino per una serie di moduli orientati &#8220;al cliente&#8221; che &nbsp; di seguito andremo ad elencare.&nbsp; Come in tutti i nostri prodotti, anche in questo caso, sono stati utilizzati strumenti <em>Object Oriented</em> di ultima generazione per permettere estrema facilit&#224; d&#8217;uso, ambiente visuale e immediatezza nell&#8217;applicazione della tecnologia client/server.&nbsp; Di seguito una rapida panoramica dei moduli principali.
                  </p>
                  <p align="justify">
                    &nbsp;
                  </p>
                  <p align="justify">
                    &nbsp;
                  </p>
                  <p align="justify"></p>
                  <p align="justify"></p>
                  <p align="justify"></p>
                  <p align="justify"></p>
                  <p align="justify"></p>
                  <p align="justify"></p>
                  <p align="justify">
                    <b>MODULI DELLA PROCEDURA</b>
                  </p>
                  <p align="justify"></p>
                  <ul>
                    <li>
                      Gestione tipologie merceologiche (fino a due livelli)
                    </li>
                    <li>
                      Gestione articoli
                    </li>
                    <li>
                      Gestione movimenti (Carico, scarico, trasferimenti)
                    </li>
                    <li>
                      Possibilit&#224; di effettuare un pre-ordine direttamente dal cliente con pc portatile
                    </li>
                    <li>
                      Gestione degli ordini relativa stampa di bolla di carico e conversione in fattura
                    </li>
                    <li>
                      Gestione promozionali e sconti clienti
                    </li>
                    <li>
                      Gestione premi clienti
                    </li>
                    <li>
                      Gestione provvigioni per gli agenti
                    </li>
                    <li>
                      Contabilit&#224; Clienti e Fornitori
                    </li>
                    <li>
                      Inventario
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
