<section class="hero">
  <div class="hero-content">
    <h1>Soluzioni su misura per la tua impresa</h1>
    <p>
      Dalla gestione alla sicurezza, i nostri software ti aiutano a lavorare meglio.
    </p>
    <ul>
      <li>✔️ Automazione dei processi aziendali</li>
      <li>✔️ Monitoraggio in tempo reale</li>
      <li>✔️ Assistenza tecnica specializzata</li>
    </ul>
    <div class="button-wrapper">
      <button mat-raised-button color="primary" routerLink="/prodotti">Scopri i nostri prodotti</button>
    </div>
  </div>
  <img class="hero-image" src="assets/images/heroSection.jpg" alt="Soluzioni Aziendali">
</section>

<section class="services">
  <h2 class="text-center mb-4">I nostri servizi</h2>
  <div class="card-container">
    <mat-card class="service-card" *ngFor="let service of services">
      <img mat-card-image [src]="service.image" alt="Service Image">
      <mat-card-header>
        <mat-card-title class="text-primary text-center">{{ service.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="text-start">
        <p class="mb-1 fw-semibold">{{ service.subtitle }}</p>
        <small class="text-muted">{{ service.description }}</small>
      </mat-card-content>
    </mat-card>
  </div>
</section>
