<div class="pagina-rilevpresenze-container">
  <table style="WIDTH: 809px; HEIGHT: 81px" border="0" cellspacing="0" cellpadding="5" width="809" cols="1">
    <tbody>
      <tr>
        <td>
          <p align="center">
            <strong>Il sistema informatizzato</strong>
          </p>
          <p align="center">
            <strong>per il rilevamento delle presenze</strong>
          </p>
          <p align="center">
            <strong>ed il controllo degli accessi</strong>
          </p>
          <p align="center">
            &nbsp;
          </p>
          <p align="center"></p>
          <p align="center"></p>
          <hr />
        </td>
      </tr>
      <tr>
        <td>
          <div style="PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; FLOAT: left; PADDING-TOP: 0px">
            <img border="0" src="assets/images/prodotti/thumb_Presenze2000.jpg" width="171" height="255" />&nbsp;
          </div>
          <p align="justify">
            Le vigenti disposizioni prevedono che il rilevamento dell'osservanza dell'orario di lavoro avvenga con metodi obiettivi e tali da evitare ogni tipo di irregolarit&#224;. La connessa responsabilit&#224;, sotto ogni aspetto, ricade sul Responsabile dell'Ufficio, e qualora non sussistano strutture organizzative, sul Responsabile del Personale. <b>&#8220;Presenze 2000&#8221;</b> &#232; basato sul rilevamento delle presenze mediante scheda magnetica ed ha la possibilit&#224; di essere integrato ad un sistema di controllo accessi.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            Permette la gestione di:
          </p>
          <ul>
            <li>
              <p>
                Anagrafiche dipendenti
              </p>
            </li>
            <li>
              <p>
                Calendario lavorativo aziendale
              </p>
            </li>
            <li>
              <p>
                Turni e tabelle orari ingressi/uscita
              </p>
            </li>
            <li>
              <p>
                Coerenza timbrature (alternanza corretta entrata/uscita)
              </p>
            </li>
            <li>
              <p>
                Prospetto per Centro di Costo
              </p>
            </li>
            <li>
              <p>
                Prospetto per Ufficio Personale
              </p>
            </li>
            <li>
              <p>
                Prospetto per elaborazione stipendi
              </p>
            </li>
          </ul>
          <p>
            &nbsp;
          </p>
          <p>
            Permette la giustificazione preventiva automatica di:
          </p>
          <ul>
            <li>
              <p>
                ferie (anche residue dell'anno precedente) o festivit&#224; soppresse da fruire o fruite nel corso dell'anno.
              </p>
            </li>
            <li>
              <p>
                ritardi o permessi brevi fruiti nel corso del mese.
              </p>
            </li>
            <li>
              <p>
                recuperi da effettuare nel mese successivo o degli addebiti monetari per mancato recupero.
              </p>
            </li>
            <li>
              <p>
                missioni da effettuare nel corso del mese.
              </p>
            </li>
            <li>
              <p>
                lavoro straordinario, se autorizzato, effettuato dai singoli dipendenti.
              </p>
            </li>
          </ul>
          <p>
            &nbsp;
          </p>
          <p>
            <b>&#8220;Presenze 2000&#8221;</b> pu&#242; essere integrato al sistema di controllo e gestione degli accessi utilizzando la stessa rete e gli stessi archivi anagrafici.
          </p>
          <p>
            A livello di Hardware si riesce a gestire qualsiasi tipo di varco ed in particolare:
          </p>
          <ul>
            <li>
              <p>
                Porte ad elettroserrature
              </p>
            </li>
            <li>
              <p>
                Tornelli
              </p>
            </li>
            <li>
              <p>
                Cancelli motorizzati
              </p>
            </li>
          </ul>
          <p align="justify">
            Non esiste nessun limite nel numero dei terminali di rilevamento dati di <b>&#8220;Presenze 2000&#8221;</b>, cos&#236; come non esiste nessun limite di dipendenti. Il collegamento al computer pu&#242; avvenire tramite cavo seriale (per distanze fino a 20 metri), tramite modem o rete ethernet (per distanze superiori).
          </p>
          <p align="justify">
            &nbsp;
          </p>
          <p align="justify"></p>
          <p>
            <b>Terminale rilevazione presenze</b>
          </p>
          <p>
            Il terminale tipo di rilevamento dati utilizzato da <b>&#8220;Presenze 2000&#8221;</b> ha le seguenti caratteristiche:
          </p>
          <ul>
            <li>
              <p>
                Terminale intelligente.
              </p>
            </li>
            <li>
              <p>
                Memoria fino a 2000 timbrature.
              </p>
            </li>
            <li>
              <p>
                Tastiera funzionale a membrana.
              </p>
            </li>
            <li>
              <p>
                Display LCD illuminato.
              </p>
            </li>
            <li>
              <p>
                Alimentazione con batteria al litio per mantenimento. orologio/calendario e dati.
              </p>
            </li>
            <li>
              <p>
                Ram fino a un anno in assenza di alimentazione.
              </p>
            </li>
            <li>
              <p>
                Batteria che consente il funzionamento completo del terminale in assenza di alimentazione da rete per 12 ore, tempo di ricarica 6 ore.
              </p>
            </li>
            <li>
              <p>
                Modem interno (opzionale).
              </p>
            </li>
            <li>
              <p>
                Scheda Ethernet (opzionale).
              </p>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
