@use '@angular/material' as mat;

$custom-theme-primary: mat.define-palette(mat.$indigo-palette, 600, 500, 800);
$custom-theme-accent: mat.define-palette(mat.$pink-palette, 300, 100, 500);
$custom-theme-warn: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-light-theme( $custom-theme-primary, $custom-theme-accent, $custom-theme-warn );

@include mat.all-component-themes($custom-theme);
