<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <rewrite>
      <rules>

        <!-- Ignora richieste verso le API -->
        <rule name="Ignore API" stopProcessing="true">
          <match url="^SitoBackEnd/api/.*" />
          <action type="None" />
        </rule>

        <!-- Ignora richieste statiche agli assets -->
        <rule name="Ignore Assets" stopProcessing="true">
          <match url="^assets/.*" />
          <action type="None" />
        </rule>

        <!-- Angular routes rewrite -->
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/nuovo25/index.html" />
        </rule>

      </rules>
    </rewrite>

  </system.webServer>
</configuration>
